body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px; /* aumentado para comportar duas colunas */
    text-align: center;
}

h2 {
    text-align: center;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
  }
  

input {
    width: 100%;
    padding: 10px;
    margin: 0; /* removido o margin para evitar espaçamento duplo com grid */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: -10px;
    background: #3e468c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}

.secondary-button {
    background: #3e468c;
    border: none;
    text-decoration: underline;
    margin-top: 7px;
    font-size: 14px;
}

.secondary-button:hover {
    color: white;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper input[type="date"] {
    padding: 10px;
    padding-top: 16px; /* espaço para o label flutuante */
}

.input-wrapper label {
    position: absolute;
    left: 12px;
    top: 15px;
    background: white;
    color: #888;
    font-size: 14px;
    padding: 0 4px;
    transition: 0.2s ease all;
    pointer-events: none;
    height: 60%;
}

.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown):valid + label,
.input-wrapper input:valid + label {
    top: -10px;
    left: 8px;
    font-size: 12px;
    color: #3e468c;
}